[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-papago
Exec=sailfish-qml harbour-papago
Name=Papago

[X-Sailjail]
Sandboxing=Disabled
OrganizationName=org.mkiol
ApplicationName=papago
